<% if params[:name] == "Bryan" %>
<h2>Hello  <%= params[:name] %> from <%= params[:city] %> who is <%= params[:age] %> years old.</h2>
<% else %>
<p>You're not Bryan!!</p>
<% end %>
<hr>

<a href="/">Back to Home</a>